node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# remove the config.js
config.js

# 忽略 subgraph 相关构建文件和生成文件
/subgraph/build/*
/subgraph/generated/*
